---
layout: 'blog.njk'
---

<div class="container center">
  <h1 class="text-center pageTitle">{{ title }}</h1>
  <div class="divider"></div>

  <div class="center-align">
    <img class="blog-image" src="{{ image }}" alt="{{ imageAlt }}" />

    <figcaption>
      {{ imageAlt }}
    </figcaption>
  </div>
  <div class="blog-flex">
    <p>
      {{ date | postDate }}
    </p>
    <div class="blog-author-info">
      <img
        class="blog-profile-img"
        src="{{ authorProfile }}"
        alt="{{ author }}"
      />

      <div class="blog-author-name">
        <span>Author</span>
        <p>{{ author }}</p>
      </div>
    </div>
  </div>

  {{ content | safe }}
</div>
