---
layout: 'blog.njk'
---

<div class="container center">
  <h1 class="text-center pageTitle">{{ title }}</h1>
  <div class="divider"></div>

  <div class="center-align">
    <img class="blog-image" src="{{ image }}" alt="{{ imageAlt }}" />

    <figcaption>
      {{ imageAlt }}
    </figcaption>
  </div>

  {{ content | safe }}
</div>
