<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <title>{{ title }} | Dove Design - Web Design Agency</title>
    <meta name="description" content="{{ description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Open Graph Data -->
    <meta
      property="og:title"
      content="{{ title }} | Dove Design - Web Design Agency"
    />
    <meta property="og:url" content="https://www.dovedesign.io" />
    <meta property="og:type" content="website" />
    <meta property="og:description” content="{{ description }}” />
    <meta property="og:image" content="/img/open-graph-image.jpg" />

    <!-- Twitter Card -->
    <meta name="”twitter:card”" content="”summary”" />
    <meta
      name="”twitter:title"
      content="{{ title }} | Dove Design - Web Design Agency"
    />
    <meta name="”twitter:description" content="{{ description }}" />
    <meta name="”twitter:url" content="https://www.dovedesign.io" />
    <meta name="”twitter:image" content="/img/open-graph-image.jpg" />

    <!-- Favicons -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/favicon-16x16.png"
    />
    <link rel="manifest" href="/assets/site.webmanifest" />
    <link
      rel="mask-icon"
      href="/assets/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <!-- Webclip -->
    <link rel="apple-touch-icon" href="/assets/webclip.png" />

    <!-- Google verifictaion -->
    <meta
      content="Gn2ph9pZPQ_IgW7Y-arpwBwHml3NhvixI_raI-BKoGA"
      name="google-site-verification"
    />

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/main.css" />
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    {% include 'header.njk' %}
    <main>
      <div class="container blog">

      {{ content | safe }}

      <!-- Contact Section -->
      <section>
        <div class="container">
          <h2 class="text-center">Contact Us</h2>
          <div class="divider"></div>
          <p class="text-center">
            Please get in touch to hear how we can help you change the world.
          </p>

          <div class="grid">
            <div class="card contact-card">
              <h3>Get in touch</h3>
              <div class="icon-wrap">
                <img src="/assets/img/phone-icon.svg" alt="Phone Icon" />
                <p><a href="tel:07540599633">07540 599633</a></p>
              </div>
              <div class="icon-wrap">
                <img src="/assets/img/email-icon.svg" alt="Email Icon" />
                <p><a href="mailto:info@dovedesign.io">info@dovedesign.io</a></p>
              </div>
              <div class="icon-wrap">
                <img src="/assets/img/linkedin-icon.svg" alt="LinkedIn Icon" />
                <p>
                  <a
                    href="https://www.linkedin.com/company/dovedesignweb"
                    target="_blank"
                    >@dovedesignweb</a
                  >
                </p>
              </div>
              <img src="/assets/img/imac-ind.png" alt="iMac" />
            </div>

            <div class="card contact-card">
              <h3>Send us a message</h3>
              <form
                name="contact"
                method="POST"
                data-netlify-recaptcha="true"
                data-netlify="true"
              >
                <div>
                  <label for="text">Name</label>
                  <input id="text" type="text" name="name" placeholder="Name" />
                </div>
                <div>
                  <label for="email">Email</label>
                  <input id="email" type="email" name="email" placeholder="Email" />
                </div>
                <div>
                  <label for="phone">Phone</label>
                  <input id="phone" type="Phone" name="phone" placeholder="Phone" />
                </div>
                <div>
                  <label for="textarea">Message</label>
                  <textarea
                    id="textarea"
                    type="textarea"
                    name="message"
                    placeholder="Message"
                  ></textarea>
                </div>
                <div data-netlify-recaptcha="true"></div>
                <button type="submit">Send</button>
              </form>
            </div>
          </div>
        </div>
      </section>
    </main>

    {% include 'footer.njk' %}
  </body>
</html>
