<header>
  <div class="container">
    <a href="/index.html"
      ><img class="logo" src="/assets/img/logo-only.svg" alt="Dove Design Logo"
    /></a>
    <nav>
      <a href="/index.html">Home</a>
      <a href="/work">Work</a>
      <a href="/blog">Blog</a>
      <a href="/contact">Contact</a>
    </nav>
  </div>
</header>
