<header>
  <div class="container hero">
    <a href="/index.html"
      ><img class="logo" src="/assets/img/logo-only.svg" alt="Dove Design Logo"
    /></a>
    <nav>
      <a href="/index.html">Home</a>
      <a href="/projects.html">Projects</a>
      <a href="/blog.html">Blog</a>
      <a href="/contact.html">Contact</a>
    </nav>
  </div>
</header>
