<header>
  <div class="container hero">
    <a href="/"
      ><img class="logo" src="/assets/img/logo-only.svg" alt="Dove Design Logo"
    /></a>
    <nav>
      <a href="/">Home</a>
      <a href="/projects">Projects</a>
      <a href="/blog">Blog</a>
      <a href="/contact">Contact</a>
    </nav>
  </div>
</header>
