---
title: Home
layout: "base.njk"
pageTitle: Market Your Business Online & Change The World.
pageKicker: At Dove Design we help companies better market their products online to attract & engage with customers. We do this by designing & building fast, accessible and user-friendly websites, allowing you to focus on changing the world.
heroImg: /assets/img/hero-image.png
heroAlt: Two black iMacs
---

<section>
  <div class="container">
    <h2 class="text-center">Our Services</h2>
    <div class="divider"></div>
    <p class="text-center">Below are a list of services that we offer.</p>
    <div class="grid">
      <img src="/assets/img/imac-ind.png" alt="Two black iMacs" />

      <div class="card">
        <h3>Marketing your business online shouldn’t be so hard.</h3>
        <p>Your customers are looking for your product, let’s fix this.</p>

        <ul>
          <li>Content & Branding Strategy</li>
          <li>Website Design</li>
          <li>Website Development</li>
          <li>CMS Integration</li>
          <li>E-commerce Websites</li>
        </ul>

        <a href="/contact"><button>Contact Us</button></a>
      </div>
    </div>
    <div class="grid reverse">
      <div class="card">
        <h3>Our websites help businesses get results</h3>
        <p>
          We are here to help you get your product in the hands of your
          customers.
        </p>
        <p>
          Our designs will give your business the online presence it deserves.
        </p>

        <a href="/contact"><button>Contact Us</button></a>
      </div>

      <img
        src="/assets/img/spendo-imac.png"
        style="max-width: 500px"
        alt="Two black iMacs"
      />
    </div>
  </div>
</section>
<!-- Process Section -->
<section class="grey-bg">
  <div class="container">
    <h2 class="text-center">Our Process</h2>
    <div class="divider"></div>
    <p class="text-center margin-bottom-100">
      Here at Dove Design we follow a process that allows for collaboration and
      success.
    </p>

    <!-- Cards -->
    <div class="grid cols-3">
      <div class="card">
        <div class="card-icon">
          <img src="/assets/img/strategy.svg" alt="Design icon" />
        </div>
        <h3>Strategy & Content</h3>
        <p>
          In the initial phase we will kick off the project with a strategy
          session with your main stakeholders to align on the project goals,
          success matrix and challenges.
        </p>
        <div class="card-number">1</div>
      </div>
      <div class="card">
        <div class="card-icon">
          <img src="/assets/img/design.svg" alt="Design icon" />
        </div>
        <h3>Design</h3>
        <p>
          Based on the selected visual approach and strategic goals agreed upon
          in the previous step, we will design a fully responsive website with
          design deliverables.
        </p>
        <div class="card-number">2</div>
      </div>
      <div class="card">
        <div class="card-icon">
          <img src="/assets/img/dev.svg" alt="Design icon" />
        </div>
        <h3>Development</h3>
        <p>
          We will develop the agreed design into a fully functional responsive
          website using Webflow that can be accessed throughout the build by the
          assigned stakeholders.
        </p>
        <div class="card-number">3</div>
      </div>
      <div class="card">
        <div class="card-icon">
          <img src="/assets/img/launch.svg" alt="Design icon" />
        </div>
        <h3>Launch</h3>
        <p>
          We will work with stakeholders to connect their website domain to the
          our hosting platform for the website to be live on the internet for
          everyone to view.
        </p>
        <div class="card-number">4</div>
      </div>
      <div class="card">
        <div class="card-icon">
          <img src="/assets/img/training.svg" alt="Design icon" />
        </div>
        <h3>Training</h3>
        <p>
          Bespoke training & videos will be provided to all nominated staff on
          how to update the content within the website and how to use the CMS to
          add new content.
        </p>
        <div class="card-number">5</div>
      </div>
    </div>
  </div>
</section>

<!-- Testimonials Section -->
<section>
  <div class="container">
    <div class="testimonial-wrap">
      <img
        class="client-logo"
        src="/assets/img/durham-pcvc-logo.svg"
        alt="Durham PCVC Logo"
      />
      <div class="testimonial-text-wrap">
        <h2>Steve White</h2>
        <h3>Durham Police, Crime & Victims Commissioner</h3>
        <p>
          "We are really pleased with our new website that was designed by Dove
          Design. The website clearly shows the identity and statutory functions
          of the office as well as enables much greater accessibility for users.
          It provides yet another platform for us to share important information
          and offers a quick and easy way for the public to engage with us."
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Work Section -->
<section>
  <div class="container">
    <h2 class="text-center">Our Work</h2>
    <div class="divider"></div>
    <p class="text-center">
      Below you will find some of the Porjects we have completed recently
    </p>
    <div class="grid">
      <div class="card reverse">
        <img
          class="client-logo"
          src="/assets/img/durham-pcvc-logo.svg"
          alt="Durham PCVC Logo"
        />
        <p>
          We were approached by The Office Of The Durham Police, Crime & Victims
          Commissioner to redesign and build their website.
        </p>
        <p>
          Their goal was to create a website that increased users ability to
          contact the office and raise awareness of the services provided. We
          were successful in meeting these goals and creating a fully responsive
          and user driven website.
        </p>

        <ul>
          <li>Content & Branding Strategy</li>
          <li>Website Design</li>
          <li>Website Development</li>
          <li>CMS Integration</li>
          <li>Website Hosting</li>
          <li>Stakeholder Training</li>
        </ul>

        <p><a href="/projects">View more</a></p>
      </div>
      <img src="/assets/img/pcvc-website.jpg" alt="iMac Pro" />
    </div>
  </div>
</section>

<!-- Recent Articles Section -->

<section>
  <div class="container">
    <h2 class="text-center">Featured Blog Articles</h2>
    <div class="divider"></div>
    <p class="text-center">Below are our featured blog articles</p>

    {%- for post in collections.featured | reverse -%} {% include
    "article-snippet.njk" %} {%- endfor -%}
  </div>
</section>

<!-- Contact Section -->
<section>
  <div class="container">
    <h2 class="text-center">Contact Us</h2>
    <div class="divider"></div>
    <p class="text-center">
      Please get in touch to hear how we can help you change the world.
    </p>

    <div class="grid">
      <div class="card contact-card">
        <h3>Get in touch</h3>
        <div class="icon-wrap">
          <img src="/assets/img/phone-icon.svg" alt="Phone Icon" />
          <p><a href="tel:07540599633">07540 599633</a></p>
        </div>
        <div class="icon-wrap">
          <img src="/assets/img/email-icon.svg" alt="Email Icon" />
          <p><a href="mailto:info@dovedesign.io">info@dovedesign.io</a></p>
        </div>
        <div class="icon-wrap">
          <img src="/assets/img/linkedin-icon.svg" alt="LinkedIn Icon" />
          <p>
            <a
              href="https://www.linkedin.com/company/dovedesignweb"
              target="_blank"
              >@dovedesignweb</a
            >
          </p>
        </div>
        <img src="/assets/img/imac-ind.png" alt="iMac" />
      </div>

      <div class="card contact-card">
        <h3>Send us a message</h3>
        <form
          name="contact"
          method="POST"
          data-netlify-recaptcha="true"
          data-netlify="true"
        >
          <div>
            <label for="text">Name</label>
            <input id="text" type="text" name="name" placeholder="Name" />
          </div>
          <div>
            <label for="email">Email</label>
            <input id="email" type="email" name="email" placeholder="Email" />
          </div>
          <div>
            <label for="phone">Phone</label>
            <input id="phone" type="Phone" name="phone" placeholder="Phone" />
          </div>
          <div>
            <label for="textarea">Message</label>
            <textarea
              id="textarea"
              type="textarea"
              name="message"
              placeholder="Message"
            ></textarea>
          </div>
          <div data-netlify-recaptcha="true"></div>
          <button type="submit">Send</button>
        </form>
      </div>
    </div>
  </div>
</section>
