---
layout: "base.njk"
title: Cloudshare
pageTitle: CloudShare
pageKicker: This is a concept website landing page for a cloud based app.
tags: project
heroImg: /assets/img/cloudshare.jpg
imageAlt: iMac with Durham PCC website
logo: /assets/img/projects/cloudshare.svg
logoAlt: Cloudshare Logo
websiteUrl: https://cloudshare.netlify.app/
---

<section>
  <div class="container">
    <h2 class="text-center">Overview</h2>
    <div class="divider"></div>
    <div class="grid">
      <div class="project-text-wrap">
        <p>
          CloudShare is a concept landing page website that provides super fast
          cloud based services for businesses that also has an App that users
          can use to use their data anywhere.
        </p>

        <p>
          We designed the website using Adobe XD and exported compressed images
          into Webflow.
        </p>

        <p>
          The website was built using Webflow and the most up to date coding
          languages. We incorporated interactions into the website to create a
          better user experience.
        </p>
        <p><a href="{{ websiteUrl }}" target="_blank">Visit website</a></p>
      </div>

      <div class="card-logo">
        <img class="work-client-logo" src="{{ logo }}" alt="{{ logoAlt }}" />
      </div>
    </div>
  </div>
</section>
