---
layout: 'base.njk'
title: Community Peer Mentors
heroImg: /assets/img/projects/cpm-project.png
pageTitle: Community Peer Mentors
pageKicker: Website design & development for the Durham Community Peer Mentors.
tags: project
imageAlt: iMac with Community Peer Mentors website
logo: /assets/img/projects/cpm-logo.png
logoAlt: Community Peer Mentors Logo
websiteUrl: https://www.communitypeermentors.com
sort: 2
openGraph: /assets/img/projects/cpm-og.jpg
---

<section>
  <div class="container">
    <h2 class="text-center">Overview</h2>
    <div class="divider"></div>
    <div class="grid">
      <div class="project-text-wrap">
        <p>
          We were approached by the team at the Durham Community Peer Mentor to design and build their brand new
          website.
        </p>

        <p>
          We worked with their great team to shape their vision and design the website using Figma.
        </p>

        <p>
          The Durham Community Peer Mentors who aim to empower change, reduce vulnerability and provide a voice for the
          unheard for anyone across County Durham and Darlington.
        </p>

        <p>
          We are proud to work with an organisation such as these and you can view their website below by clicking on
          the link.
        </p>

        <p>
          <a href="{{ websiteUrl }}" target="_blank">Visit website</a>
        </p>
      </div>
      <div class="card-logo">
        <img class="work-client-logo" src="{{ logo }}" alt="{{ logoAlt }}" />
      </div>
    </div>
  </div>
</section>
