---
layout: 'base.njk'
title: Hate Hurts
pageTitle: Hate Hurts
pageKicker: A Campaign For County Durham & Darlington United Against Hate Crime
tags: project
heroImg: /assets/img/projects/hatehurts-project.png
imageAlt: iMac with Hate Hurts website
logo: /assets/img/projects/hatehurts-logo.svg
logoAlt: Hate Hurts Logo
websiteUrl: https://www.hatehurts.co.uk
sort: 3
---

<section>
  <div class="container">
    <h2 class="text-center">Overview</h2>
    <div class="divider"></div>
    <div class="grid">
      <div class="project-text-wrap">
        <p>
          We were approached by The Office Of The Durham Police, Crime & Victims
          Commissioner to create a website for their hate crime campaign titled
          Hate Hurts.
        </p>

        <p>
          We designed the website using Adobe XD and built using Webflow with
          the most up to date coding languages and included features such as
          Calendly to allow users to book appointments with officers.
        </p>

        <p>
          The campaign is to educate people about Hate Crime and the right of
          all to feel safe and comfortable in their community, whether it’s
          where they live, work, visit, go to school, church, play or watch
          sport or socialise.
        </p>

        <p><a href="{{ websiteUrl }}" target="_blank">Visit website</a></p>
      </div>
      <div class="card-logo">
        <img class="work-client-logo" src="{{ logo }}" alt="{{ logoAlt }}" />
      </div>
    </div>
  </div>
</section>
