---
layout: 'base.njk'
title: Kantan
pageTitle: Kantan
pageKicker: Website design & development for Kantan who are the leading UK energy repairs, install, and servicing contractors.
tags: project
heroImg: /assets/img/projects/kantan.png
imageAlt: iMac with Kantan website
logo: /assets/img/projects/kantan-logo.png
logoAlt: Kantan Logo
websiteUrl: https://partners.kantan.co.uk
sort: 2
---

<section>
	<div class="container">
		<h2 class="text-center">Overview</h2>
		<div class="divider"></div>
		<div class="grid">
			<div class="project-text-wrap">
				<p>
					We were approached by Kantan to design and build their partners pages
					on their existing website.
				</p>

				<p>
					We worked with the team at Kantan to shape their vision and design the
					website using Figma.
				</p>

				<p>
					The exisiting Kantan website was already built using Squarespace so we
					used this platform to build out the partner pages
				</p>

				<p>
					Kantan is your trusted fulfilment partner for the energy transition
					and the all-in-one operations and tradesperson marketplace to drive
					energy efficiency in homes.
				</p>

				<p>
					We are proud to work with a company such as Kantan and you can view
					their website below by clicking on the link.
				</p>

				<p>
					<a
						href="{{ websiteUrl }}"
						target="_blank"
						>Visit website</a
					>
				</p>
			</div>
			<div class="card-logo">
				<img
					class="work-client-logo"
					src="{{ logo }}"
					alt="{{ logoAlt }}" />
			</div>
		</div>
	</div>
</section>
