---
layout: 'base.njk'
title: Jet & Ben
pageTitle: Jet and Ben
pageKicker: A website for Jet & Ben who are the Durham Police Community Dogs
tags: project
heroImg: /assets/img/projects/jetandben.png
imageAlt: iMac with Jet and Ben website
logo: /assets/img/projects/jetandben-logo.svg
logoAlt: Jet and Ben Logo
websiteUrl: https://www.jetandben.com
sort: 2
---

<section>
  <div class="container">
    <h2 class="text-center">Overview</h2>
    <div class="divider"></div>
    <div class="grid">
      <div class="project-text-wrap">
        <p>
          We were approached by Durham Constabulary to design and build the
          forst ever Jet & Ben website.
        </p>

        <p>
          We designed the website using Adobe XD and built using Webflow with
          the most up to date coding languages and included features such as a
          content management system to allow officers to easily update the
          content on the website. We also added various ways for schools and
          community groups to contact the client to book appointments.
        </p>

        <p>
          Jet and Ben are the Durham Police’s Safety Dogs, that visit
          educational settings and other community engagement events to raise
          awareness of safety.
        </p>

        <p><a href="{{ websiteUrl }}" target="_blank">Visit website</a></p>
      </div>
      <div class="card-logo">
        <img class="work-client-logo" src="{{ logo }}" alt="{{ logoAlt }}" />
      </div>
    </div>
  </div>
</section>
