---
layout: 'base.njk'
title: Just 3 Things
pageTitle: Just 3 Things
pageKicker: The only platform that integrates Strategic Planning, Portfolio Management, & BI Dashboards.
tags: project
heroImg: /assets/img/projects/j3t-project.png
imageAlt: iMac with Just 3 Things website
logo: /assets/img/projects/j3t-logo.svg
logoAlt: Just 3 Things Logo
websiteUrl: https://www.just3things.com/
sort: 4
---

<section>
  <div class="container">
    <h2 class="text-center">Overview</h2>
    <div class="divider"></div>
    <div class="grid">
      <div class="project-text-wrap">
        <p>
          We contacted the team at Just 3 Things regarding their current website setup as they wanted to 're-skin' the look and feel of the website
        </p>

        <p>
          The design was provided to us by the team and we then built the website using Webflow, as this is what the website was currently built using. The website has an integrated CMS so staff can update content using this system.
        </p>

        <p>
          The website is hosted on the Webflow hosting platform, which allows
          for super fast load times.
        </p>

        <p>
          It was a great project for us to work on and the team at Just 3 Things were fantastic.
        </p>
        <p><a href="{{ websiteUrl }}" target="_blank">Visit website</a></p>
      </div>
      <div class="card-logo">
        <img class="work-client-logo" src="{{ logo }}" alt="{{ logoAlt }}" />
      </div>
    </div>
  </div>
</section>
