---
layout: "base.njk"
title: Newbles The Pram People
pageTitle: Newbles
pageKicker: Newbles is a family run business that provides luxury branded baby products.
tags: project
heroImg: /assets/img/projects/newbles-imac.png
imageAlt: iMac with Durham PCC website
logo: /assets/img/projects/newbles-logo.jpg
logoAlt: Durham Police & Crime Commissioner Logo
websiteUrl: https://www.newbles.co.uk/
---

<section>
  <div class="container">
    <h2 class="text-center">Overview</h2>
    <div class="divider"></div>
    <div class="grid">
      <div class="project-text-wrap">
        <p>
          We contacted the team at Newbles regarding their current website setup
          as they currently had a landing page with basic contact information.
        </p>

        <p>
          following a meeting to discuss the strategy of the website and what we
          could provide we continued with the content that would be on the new
          website and the overall branding.
        </p>

        <p>
          We designed the website using Adobe XD and built using Webflow with
          the most up to date coding languages and the Webflow CMS to allow the
          key staff members to fully edit the website.
        </p>

        <p>
          We added the function for the staff at Newbles to fully update the
          website with new products so they could add or remove products via the
          Content Management System(CMS).
        </p>

        <p>
          The website is hosted on the Webflow hosting platform, which allows
          for super fast load times.
        </p>
        <p><a href="{{ websiteUrl }}" target="_blank">Visit website</a></p>
      </div>
      <div class="card-logo">
        <img class="work-client-logo" src="{{ logo }}" alt="{{ logoAlt }}" />
      </div>
    </div>
  </div>
</section>
