---
layout: 'base.njk'
title: Durham Police & Crime Commissioner
pageTitle: Durham Police & Crime Commissioner
pageKicker: This is a project we delivered for the Durham Police & Crime Commissioners Office
tags: project
heroImg: /assets/img/projects/pcc-project.png
imageAlt: iMac with Durham PCC website
logo: /assets/img/projects/durham-pcc-logo.png
logoAlt: Durham Police & Crime Commissioner Logo
websiteUrl: https://www.durham-pcc.gov.uk/
sort: 1
---

<section>
  <div class="container">
    <h2 class="text-center">Overview</h2>
    <div class="divider"></div>
    <div class="grid">
      <div class="project-text-wrap">
        <p>
          We were approached by The Office Of The Durham Police, Crime
          Commissioner, having already worked on their Hate Hurts Campaign
          website, to redesign and build their website. Their existing website
          was not fit for purpose and was not responsive for all major devices.
        </p>

        <p>
          We designed the website using Adobe XD and built using Webflow with
          the most up to date coding languages and the Webflow CMS to allow the
          key staff members to fully edit the website.
        </p>

        <p>
          We incorporated certain features into the website such as live chat,
          social media links and a full site search function to allow users to
          search the whole website.
        </p>

        <p>
          The website is hosted on the Webflow hosting platform, which allows
          for super fast load times.
        </p>
        <p><a href="{{ websiteUrl }}" target="_blank">Visit website</a></p>
      </div>
      <div class="card-logo">
        <img class="work-client-logo" src="{{ logo }}" alt="{{ logoAlt }}" />
      </div>
    </div>
  </div>
</section>
