---
layout: 'base.njk'
title: Victim Care & Advice Service
pageTitle: Durham Victim Care & Advice Service
pageKicker: This is a project we delivered for the Durham Victim Care & Advice Service (VCAS)
tags: project
heroImg: /assets/img/projects/vcas-project.png
imageAlt: iMac with VCAS website
logo: /assets/img/projects/vcas-logo.svg
logoAlt: Victim Care & Advice Service Logo
websiteUrl: https://www.victimcareandadviceservice.uk/
sort: 1
---

<section>
  <div class="container">
    <h2 class="text-center">Overview</h2>
    <div class="divider"></div>
    <div class="grid">
      <div class="project-text-wrap">
        <p>
          We were approached by The Office Of The Durham Police, Crime Commissioner, having already designed and built their website, to work on a new project to showcase the Victim Care & Advice Service
        </p>

        <p>
          We designed the website using Figma and built using Webflow with
          the most up to date coding languages and the Webflow CMS to allow the
          key staff members to fully edit the website.
        </p>

        <p>
          The website allows staff to login to the dashboard and make changes to the content within the website such as staff members, FAQs and contact details.
        </p>

        <p>
          The website also has features where victims of crime can submit referrals to the service to receive support as a victim of crime.
        </p>
        <p><a href="{{ websiteUrl }}" target="_blank">Visit website</a></p>
      </div>
      <div class="card-logo">
        <img class="work-client-logo" src="{{ logo }}" alt="{{ logoAlt }}" />
      </div>
    </div>
  </div>
</section>
